.nav_bar{
    position: sticky;
    background-color: #9bdaf1;
    display: flex;
    min-height: 5dvh;
    max-height: 10dvh;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px black;
    transition: all 0.5s ease;
    z-index: 9999;
}

.nav_bar.hidden{
    top: -10dvh;
}

.nav_bar.visible{
    top: 0;
}